@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.font-Nanum {
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: -0.02rem;
  height: 100%;
  touch-action: pan-y;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}

html,
body,
#__next {
  height: 100vh;
  min-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  padding-bottom: env(safe-area-inset-bottom);
}

.mobileMessageHeightCalc {
  height: calc((var(--vh, 1vh) * 100) - 11.3rem);
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-shadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

textarea::placeholder,
textarea::-webkit-textarea-placeholder {
  font-size: 1rem;
  letter-spacing: -0.1125rem;
}


.textAreaShadow {
  box-shadow: 0 -1px 7px 0px rgba(0, 0, 0, 0.1);
}

.textarea::placeholder {
  letter-spacing: 0;
  font-size: 0.875rem;
}
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.removeHighlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.removeHighlight:focus {
  outline: none !important;
}
.removeIOSInputRound {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.dot-flashing {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #6c5ce7;
  color: #6c5ce7;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -12px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #6c5ce7;
  color: #6c5ce7;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 12px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #6c5ce7;
  color: #6c5ce7;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #6c5ce7;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
.chatViewMain {
  scroll-behavior: smooth;
}

.right .chattingModule > span {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100% !important;
}

.left .chattingModule > span {
  display: flex !important;
  justify-content: flex-start !important;
  width: 100% !important;
}